@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:wght@200;300;400&display=swap');

body, button, input, textarea{
    font-family: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo-content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
}

.sidebar.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo-content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo-content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 24px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    transform: translateX(-10%);
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    left: 400%;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #11101d;
    color: #fff ;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    left: 260%;
    display: block;
}

.sidebar.active ul li:hover .tooltip {
    display: none;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    background: #fff;
    color: #11101d;
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .Home_Text {
    border: 4px solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom-left-radius: 1rem ;
    border-top-right-radius: 1rem ;
    font-size: 30px;
    font-weight: 500;
    color: #11101d;
    margin: 12px;
    left: 50%;
}

.sidebar.active ~ .home_content {
    width: calc(100% - 240px);
    left: 240px;
}

/* Zawartość Strony */

.aboutSite {
    margin: 12px;
    border: 2px solid black;
    color: #11101d;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.aboutSite_title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.aboutSite_text {
    margin-bottom: 1rem;
}

.aboutSite_Icon {
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
    left: calc(50% - 240px);
}

.contactCard_Title {
    font-weight: bold;
}

.contactCard {
    margin-right: 3rem;
}

.contactCards {
    display: flex;
    text-align: center;
}

.aboutSite_text a {
    text-decoration: none;
    color: #11101d;
}

/* Telefon */

@media all and (max-width: 1080px) {
    .aboutSite_Icon {
        display: none;
    }

    .sidebar.active {
        opacity: 1;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }

    .home_content {
        position: sticky;
        z-index: 0;
        left: 78px;
    }

    .sidebar.active ~ .home_content {
        width: 100%;
    }

    .sidebar.active #btn {
        position: fixed;
        z-index: 1;
    }
}








/* Dostawy */

.aboutSite_text .container.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column-title {
    font-weight: bold;
}

.aboutSite_text {
    font-size: 20px;
}

.aboutSite_title {
    font-weight: bold;
}

.aboutSite_text .container.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}