@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input, textarea{
    font-family: "Poppins", sans-serif;
    color: #464646;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

body {
    background-color: #f7f7f7;
    background-image: url("../assets/mtstl_logo_only_clear.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 20vh;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    pad: 30px 10%;
    padding: 1rem 2rem;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    color: #464646;
}

.logo {
    margin-right: auto;
}